<head>
    <!-- Title and tabicon -->
    <title>Captain WebHook</title>
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" href="/favicon.png" sizes="32x32">

    <!-- Meta values -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- CSS style includes -->
    <link rel="stylesheet" href='/css/style.css' />

    <!-- FA Includes -->
    <link href="/fas/css/all.css" type="text/css" rel="stylesheet" />

    <!-- Font includes -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <!-- Library Includes -->
    <!-- ... -->


    <!-- SEO meta tags -->
    <meta name="keywords"
        content="hook, web, captain">

    <meta name="twitter:title" content="Captain Hook">
    <meta name="twitter:description" content="Simple WebHook Executer">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Captain Hook">
    <meta property="og:description" content="Simple WebHook Executer">
    <meta property="og:site_name" content="Captain WebHook">

    <meta name="description" content="Simple WebHook Executer">


    <!-- Prioritize content -->
    <link rel="preload" href="/css/style.css" as="style">
</head>